html, body {
    height: 100%;
    margin: 0;
}
body {
    text-align: center;
    background: url("pokeback2.jpg") center / cover no-repeat;
}

#grid {
    width: 500px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
#grid img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    cursor: pointer;
}

